<html>
    <head>
        <title>Chanbi's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href='/'>Chanbi's Blog</a></h1>
        </div>

        <div>
            <p>published: 2020/12/13 22:04</p>
            <h2><a href="">My first post</a></h2>
            <p>Opend a blog in Django! Will start publishing exciting contents soon. :-)</p>
        </div>

        <div>
            <p>published: 2020/12/13 22:05</p>
            <h2><a href="">My second post</a></h2>
            <p>Making a django blog.</p>
        </div>
    </body>
</html>